li {
    list-style: none;
    margin-bottom: 10px;
}

li span {
    display: inline-block;
    width: 30px;
}

li > span + span {
    width: 180px;
}

button {
    margin: 0 10px;
}

form div label {
    display: inline-block;
    margin: 10px;
    text-align: right;
    width: 50px;
}

form > div:last-child {
    margin: 10px 0 0 70px;
}

form > div:last-child > input {
    margin-right: 10px;
}

